html { height: 100%; }
body {
    background-color: #7D140E;
    text-align: left;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
    padding: 0 10px;
}



h1 {
    text-align: center;
    font-family: sans-serif;
}